<header class="flex items-center justify-between border-b border-yellow-500 bg-black py-4 md:px-8">
    <div class="flex gap-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/1200px-IMDB_Logo_2016.svg.png"
            class="h-[32px] w-[62px]" alt="" />
        <button class="font-bold text-white">MENU</button>
        <div class="flex">
            <input type="text" name="" placeholder=" Search IMDb" class="w-96 rounded-sm" id="" />
            <button><img src="" alt="" /><img
                    src="https://static.vecteezy.com/system/resources/previews/014/767/647/non_2x/magnifying-glass-or-search-icon-on-white-background-illustration-eps-10-vector.jpg"
                    class="w-[32px] rounded-sm" alt="" /></button>
        </div>
        <button class="text-white font-bold">IMDbPRO</button>
    </div>
    <p class="text-white font-semibold">JOE</p>
</header>